@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

body {
    font-family: 'Mulish', sans-serif;
}

.grey {
    color: #8A8A8A;
}

img {
    width: 100%;
    height: auto;
}

.text-right {
    text-align: right;
}

.title-page {
    h1 {
        font-weight:700;
    }
    margin-top: 60px;
    margin-bottom: 60px;
}

.section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.title-section {
    margin-bottom: 40px;
    font-weight: 700;
}

p, ul {
    margin-bottom: 0;
}

#searchsubmit {
    display: none;
}

#s, input[type="text"] {
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.297722);
    color: #fff;
    &::placeholder {
        opacity: 0.6;
    }
}

ul, li {
    padding-left: 0;
    list-style-type: none;
}

.content {
    margin-bottom: 50px;
}